node_modules
dist
dist-ssr
*.local
backend/.next
backend/node_modules

# IDE
.idea
.vscode

# OS
.DS_Store

# AI / local tools
.crush
.aiassistant
.kilocode

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
AGENTS.md
